[package]
name = "server"
version.workspace = true
edition.workspace = true

[[bin]]
name = "server"
path = "src/main.rs"

[dependencies]
env_logger = "0.11.8"
log = "0.4.29"
tiny_http = "0.12"
tungstenite = "0.26"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
